version: '3.8'
services:
  web:
    build: .
    command: gunicorn -k gevent -w 4 "app:create_app()"
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/unda
      - REDIS_URL=redis://redis:6379/0
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: unda
    ports:
      - "5432:5432"