{% extends 'admin/base.html' %}
{% block content %}
<h1>{{ post and 'Edit' or 'Create' }} Story</h1>
<form method="post">
  <label>Title</label>
  <input name="title" value="{{ post.title if post else '' }}" />
  <label>Excerpt</label>
  <textarea name="excerpt">{{ post.excerpt if post else '' }}</textarea>
  <label>Content</label>
  <textarea name="content">{{ post.content if post else '' }}</textarea>
  <label>Featured Image URL</label>
  <input name="featured_image" value="{{ post.featured_image if post else '' }}" />
  <button type="submit" class="btn btn-primary">Save</button>
</form>
{% endblock %}
